@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

#Quote-Box {
    height: 200px;
    width: 270px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 25px;
}

#total {
    height: 200px;
    width: 270px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#button {
    height: 20px;
    width: 75px;
    margin: 0 auto;
    font-size: 13px;
    outline: 0;
    border: 1px solid brown;
    border-radius: 25px;
}

#title-text {
    color: #181515;
    font-family: "Playwrite US Modern", cursive;
    text-align: center;
    margin-bottom: 40px;
}

#Quotes {
    font-size: 13px;
    text-align: center;
    font-family: "Bungee Spice", sans-serif;
}